.todos-title {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 100px;
    font-weight: 100;
    text-transform: lowercase;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);

    margin: 8px 0;
}