.todos-toolbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.todos-toolbar_filters, .todos-toolbar_clear-completed, .filters-item {
    position: relative;
    display: inline-block;
    font-family: "Helvetica Neue",  Arial, sans-serif;
    font-size: 12px;
    color: #666;
    border-radius: 3px;
    border: 1px solid #fff;
}

.filters-item {
    margin-right: 2px;
}

.filters-item:hover, .todos-toolbar_clear-completed:hover {
    cursor: pointer;
}

.todos-toolbar_clear-completed {
    float: right;
    margin-top: 1px;
}

.__hide {
    display: none;
}

